<!-- <div class="container"> -->
    <div class="table-responsive">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row">
              <div class="col-xs-6">
                <h2>Quote from User</h2>
              </div>
              <!-- <div class="col-xs-6">
                <a  class="btn btn-success" routerLink="/main/add-training"><i class="material-icons">&#xE147;</i> <span>Add Training</span></a>
              </div> -->
            </div>
          </div>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Sr No</th>
                <th>Action</th>
                <th>Name</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Type of Service</th>
                <th>Other</th>
                <th>Address</th>
                <th>Comment</th>
                <th>Date</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td><a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a></td>
                <td>Mohak Sharma</td>
                <td>8888888888</td>
                <td>m@gmail.com</td>
                <td>Training Internship</td>
                <td>     </td>
                <td>Nashik</td>
                <td>hdfbhdbfyudhbfdhbdbv vbfhyibgvfgb mnfhibgbhbgf</td>
                <td> 12 April 2023</td>
                
              </tr>
            </tbody>
          </table>
        </div>
      </div>        
      <!-- </div> -->






