<div class="text-white bg-primary">Result for lastest "Get A Quote"</div>
    <div class="table-responsive">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row">
              <div class="col-xs-6">
                <h2>Quote from User</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2">
              <div class="search-container">
                <input type="text" [(ngModel)]="searchTerm" (input)="onSearch()" placeholder="Search..."> 
            </div> 
          </div> 
          </div>    
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Sr No</th>
                <th>Action</th>
                <th>Name</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Type of Service</th>
                <th>Address</th>
                <th>Comment</th>
                <th>Date</th>               
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let quote of filtered; let i=index">
                <td>{{i+1}}</td>
                <td>
                  <i class="fa fa-trash" (click)="deleteQuote(quote.id)" title="Delete"></i>
                </td>
                <td>{{quote.name}}</td>
                <td>{{quote.mobile_no}}</td>
                <td>{{quote.email}}</td>
                <td>{{quote.service}}</td>
                <td>{{quote.address}}</td>
                <td>{{quote.comment}}</td>
                <td>{{quote.created_at | date}}</td>
            </tbody>
          </table>
        </div>
      </div>        
      <!-- </div> -->






