<!-- <div class="header">
    
    <div class="header1">
        <img src="https://sumagotraining.in/images/sumago-logo.png">
        <div class="user">
            <div class="user-name">Sumago Infotech</div>
            <div class="user-image">SI</div>
        </div>
    </div>
</div> -->

<mat-toolbar>
    <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle();openNav(false)">
            <mat-icon>menu</mat-icon>
        </button>
        <img src="https://sumagotraining.in/images/sumago-logo.png">
        <h1></h1>
        <div class="user-name">Sumago Infotech</div>
        <div class="user-image">SI</div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container style="height: 100%;">
    <mat-sidenav #sidenav opened="true" mode="side" [ngStyle]="responsiveMenu" class="sidebar shadow p-2" id="sidebar">
        <mat-nav-list>
            <ul>
                <li><a routerLink="/main/home"> <i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                <li>
                    <a> <i class="fa fa-address-card" aria-hidden="true"></i> Portfolio <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdow-container">
                        <li><a routerLink="/main/port-form"> <i class="fa fa-plus" aria-hidden="true"></i> Add Portfolio</a></li>
                        <li><a routerLink="/main/port-det"> <i class="fa fa-info" aria-hidden="true"></i>
                            Portfolio Details</a></li>
                    </ul>
                </li>
                <li><a href="#"> <i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>

            </ul>
            <!-- </div> -->
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="main-content" [ngStyle]="responsiveContent">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<!--  
<div class="sidebarmain">
    <div class="sidebar">
        <div class="nav-items">
            <div class="nav-item">
                
                <fa-icon [icon]="faDashboard"></fa-icon>
                <span>Dashboard</span>
                
            </div>
        
            <div class="nav-item">
                <fa-icon [icon]="faPerson"></fa-icon>
                <span>Employee</span>
            </div>
        
            <div class="nav-item">
                <fa-icon [icon]="faShop"></fa-icon>
                <span>Orders</span>
            </div>
        
            <div class="nav-item">
                <fa-icon [icon]="faBox"></fa-icon>
                <span>Products</span>
            </div>
        
            <div class="nav-item">
                <fa-icon [icon]="faChartBar"></fa-icon>
                <span>Status</span>
            </div>
        
            <div class="nav-item">
                <fa-icon [icon]="faContactBook"></fa-icon>
                <span>Contact</span>
            </div>
        
            <div class="nav-item">
                <fa-icon [icon]="faHand"></fa-icon>
                <span>Help?</span>
            </div>
        </div>
    </div>
     -->

<!-- <div class="main">
        <router-outlet></router-outlet>
    </div>
      -->