<!-- <div class="header">
    
    <div class="header1">
        <img src="https://sumagotraining.in/images/sumago-logo.png">
        <div class="user">
            <div class="user-name">Sumago Infotech</div>
            <div class="user-image">SI</div>
        </div>
    </div>
</div> -->

<mat-toolbar>
    <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle();openNav(false)">
            <mat-icon>menu</mat-icon>
        </button>
        <img src="https://sumagotraining.in/images/sumago-logo.png">
        <div class="user-name">Purva Diwate</div>
        <div class="user-image border-white ">PD</div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container style="height: 100%;">
    <mat-sidenav #sidenav opened="true" mode="side" [ngStyle]="responsiveMenu" class="sidebar shadow p-2" id="sidebar">
        <mat-nav-list>

            <div class="text-center">
                <i class="green fa fa-signal" aria-hidden="true"></i>
                <i class="red fa fa-pencil" aria-hidden="true"></i>
                <i class="yellow fa fa-archive" aria-hidden="true"></i>
                <i class="blue fa fa-cogs" aria-hidden="true"></i>
            </div>

            <ul>
                <!-- purva's components -->
                <li><a routerLink="/main/dashboard"> <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a>
                </li>
                <li><a routerLink="/main/contact-enquiry"> <i class="fa fa-envelope" aria-hidden="true"></i> Contact
                        Enquiries</a></li>
                <li><a routerLink="/main/career-enquiry"> <i class="fa fa-envelope" aria-hidden="true"></i> Career
                        Enquiries</a></li>
                <li>
                    <a> <i class="fa fa-list" aria-hidden="true"></i> Achievements <i class="fa fa-caret-down"
                            aria-hidden="true"></i>
                    </a>
                    <ul class="dropdow-container">
                        <li><a routerLink="/main/add-achievements"> <i class="fa fa-plus" aria-hidden="true"></i> Add
                                Achievements</a></li>
                        <li><a routerLink="/main/view-achievements"> <i class="fa fa-info" aria-hidden="true"></i>
                                Achievement Details</a></li>
                    </ul>
                </li>
                <li>
                    <a> <i class="fa fa-list" aria-hidden="true"></i> News <i class="fa fa-caret-down"
                            aria-hidden="true"></i>
                    </a>
                    <ul class="dropdow-container">
                        <li><a routerLink="/main/add-news"> <i class="fa fa-plus" aria-hidden="true"></i> Add
                                News</a></li>
                        <li><a routerLink="/main/view-news"> <i class="fa fa-info" aria-hidden="true"></i>
                                News Details</a></li>
                    </ul>
                </li>
                <!-- purva's components -->

                <li><a routerLink="/main/questions"> <i class="fa fa-user" aria-hidden="true"></i> Questions</a></li>
                <li><a routerLink="/main/free-consultation"> <i class="fa fa-user" aria-hidden="true"></i> Free Consultations</a></li>
                <li><a routerLink="/main/quote"> <i class="fa fa-user" aria-hidden="true"></i> GET A QUOTE</a></li>
                <li>
                    <a> <i class="fa fa-list" aria-hidden="true">
                    </i> Count <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdow-container">
                        
                        <li><a routerLink="/main/count"> <i class="fa fa-info" aria-hidden="true">    
                        </i> Count Details</a></li>
                    </ul>
                </li>
                <li>
                    <a> <i class="fa fa-address-card" aria-hidden="true">
                    </i> Portfolio <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdow-container">
                        <li><a routerLink="/main/port-form"> <i class="fa fa-plus" aria-hidden="true">
                        </i> Add Portfolio</a></li>
                        <li><a routerLink="/main/port-det"> <i class="fa fa-info" aria-hidden="true"></i>
                            Portfolio Details</a></li>
                    </ul>
                </li>

                <li>
                    <a> <i class="fa fa-address-card" aria-hidden="true">
                    </i> Awards <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdow-container">
                        <li><a routerLink="/main/add-awards"> <i class="fa fa-plus" aria-hidden="true">
                        </i> Add Awards</a></li>
                        <li><a routerLink="/main/award-det"> <i class="fa fa-info" aria-hidden="true"></i>
                            Award Details</a></li>
                    </ul>
                </li>

                <li>
                    <a> <i class="fa fa-address-card" aria-hidden="true">
                    </i> Appreciation <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdow-container">
                        <li><a routerLink="/main/add-appreciation"> <i class="fa fa-plus" aria-hidden="true">
                        </i> Add Appreciation</a></li>
                        <li><a routerLink="/main/appreciation-det"> <i class="fa fa-info" aria-hidden="true"></i>
                            Appreciation Details</a></li>
                    </ul>
                </li>

                <li>
                    <a> <i class="fa fa-address-card" aria-hidden="true">
                    </i> Training <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdow-container">
                        <li><a routerLink="/main/add-training"> <i class="fa fa-plus" aria-hidden="true">
                        </i> Add Training</a></li>
                        <li><a routerLink="/main/training-det"> <i class="fa fa-info" aria-hidden="true"></i>
                            Training Details</a></li>
                    </ul>
                </li>

                <li>
                    <a> <i class="fa fa-list" aria-hidden="true">
                    </i> Birthday <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdow-container">
                        <li><a routerLink="/main/birthday"> <i class="fa fa-plus" aria-hidden="true">    
                        </i> Add Birthday</a></li>
                        
                        <li><a routerLink="/main/birthday"> <i class="fa fa-info" aria-hidden="true">    
                        </i> Birthday Details</a></li>
                    </ul>
                </li>
                <li><a routerLink="/main/forgot-form"> <i class="fa fa-sign-out" aria-hidden="true"></i> Forgot Password</a></li>
                <li><a href="#"> <i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>

            </ul>
            <!-- </div> -->
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="main-content" [ngStyle]="responsiveContent">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<!--  
<div class="sidebarmain">
    <div class="sidebar">
        <div class="nav-items">
            <div class="nav-item">
                
                <fa-icon [icon]="faDashboard"></fa-icon>
                <span>Dashboard</span>
                
            </div>
        
            <div class="nav-item">
                <fa-icon [icon]="faPerson"></fa-icon>
                <span>Employee</span>
            </div>
        
            <div class="nav-item">
                <fa-icon [icon]="faShop"></fa-icon>
                <span>Orders</span>
            </div>
        
            <div class="nav-item">
                <fa-icon [icon]="faBox"></fa-icon>
                <span>Products</span>
            </div>
        
            <div class="nav-item">
                <fa-icon [icon]="faChartBar"></fa-icon>
                <span>Status</span>
            </div>
        
            <div class="nav-item">
                <fa-icon [icon]="faContactBook"></fa-icon>
                <span>Contact</span>
            </div>
        
            <div class="nav-item">
                <fa-icon [icon]="faHand"></fa-icon>
                <span>Help?</span>
            </div>
        </div>
    </div>
     -->

<!-- <div class="main">
        <router-outlet></router-outlet>
    </div>
      -->