

 mat-toolbar{
     background-color: rgb(14,198,231);
     min-height: 70px;
     /* position: absolute;
     top:0; */
     color: black;
     /* z-index: 999; */
     width: 100%;
     box-shadow: 2px 2px 5px black;
 }
 .mat-toolbar-row .spacer {
    flex: 1;
 }
 img{
     padding: 20px;
     display: flex;
     align-items: center;
     width: 300px;
 }
 .header .logo {
     font-weight: bold;
     font-size: 30px;

 }
 .header .user {
     float: left;
     display: flex;
     align-items: center;
     font-weight: bold;
 }
 .sidebar {
     width: 250px;
   }

   /* Tablet styles */
   @media only screen and (max-width: 768px) {
     .sidebar {
       width: 200px;
     }
     .menu{
         display: block;
     }
     .sidebar{
         display: none;
         width: 160px;
     }
     .sidebar a {
         padding: 10px 0px;
     }
     .main-content{

         margin-left: 0px;
         display: block;
     }
    
   }

   /* Mobile styles */
   @media only screen and (max-width: 576px) {
    .header.logo{
        font-size: 24px;
    }
    .nav-items .nav-item{
        padding: 20px 40px;
    }
    mat-nav-list{
        font-size: 16px;
    }
     .sidebar {
       width: 100%;
     }
     .main-content{
        margin-left: 0;
     }
    
   }
 /* .user-name {
//     margin-left: 770px;
//     color: black;
//     font-size: large;
//     font-weight: 10000;
// }
// .user-image {
//     width: 50px;
//     height: 50px;
//     border-radius: 50%;
//     color:white;
//     border: 2px solid #fff;
//     background-color: #082a5d;
//     margin-left: 20px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//    font-weight: bold;
// }
//  */

/* correct code commenting for some time */

mat-toolbar {
    background-color: rgb(14, 198, 231);
    min-height: 70px;
    color: black;
    width: 100%;
    box-shadow: 2px 2px 5px black;
}

img {
    padding: 20px;
    display: flex;
    align-items: center;
    width: 300px;
}

.header .logo {
    font-weight: bold;
    font-size: 30px;

}

.header .user {
    float: left;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.user-name {
    margin-left: 870px;
    color: black;
    font-size: large;
    font-weight: 10000;
}

.user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    border: 2px solid #fff;
    background-color: #082a5d;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}


.sidebar a {
     text-decoration: none;
     padding: 10px 10px;

     color: #fff;
     color: white;
     text-align: left;
     display: block;
 }

 .sidebar i {
     color: white;
     padding: 2px;
     text-align: center;
     border-radius: 10%;
     padding-right: 10px;
 }
 /* .sidebar a:hover{
    color: #ff9912;
 } */
  

 .sidebar .icon {
     float: right;
     color: white;
}

.sidebar-list{
    height: 100%;
    padding: 30px 0 15px 0;
    overflow: auto;
}
.sidebar-list ::-webkit-scrollbar{
    display: none;
}
.sidee-list li{
    transition: all .5s ease;
}
.sidebar-list li:hover{
    background-color: #070666;
}
.dropdow-container{
    padding-left: 10px;
     overflow-y: hidden;
     max-height: 0px;
     transition: all .15s ease;
 }

 .dropdow-container.show{
    
     max-height: 1000px;
     transition: all .15 ease;
 }
 ul{
         padding: 0px;
}
 ul>li>a.active{
     color: #000;
 }



 mat-sidenav{
     /* padding: 50px; */
     width: 300px;
     background-color: #113c60;
     border-right: 1px solid black;
     transition-delay: 0ms;
     height: 100%;
     

 }

  .nav-items {
     padding-top: 40px;
 }
 .nav-items .nav-item {
     padding: 25px 50px;
     cursor: pointer;
 }
 @media only screen and (max-width: 1300px) {
     .nav-items .nav-item {
         padding: 25px 40px;
    }
 }
 .nav-items .nav-item.hover {
     background-color: #070666;
 }
 .nav-items .nav-item fa-icon {
     margin-right: 20px;
     font-size: 22px;
 }
 .nav-items .nav-item span {
     display: inline;
 }
 @media only screen and (max-width: 1300px) {
     .nav-items .nav-item span {
         display: none;
    }
 }

 ul {
     list-style-type: none;
   }

 mat-nav-list {
     /* padding-bottom: 50px; */
     font-size: 18px;
     color: white;
     text-decoration: none;
 
 }

 .main-content{
     padding: 10px 10px 10px 10px;
     height: calc(100% - 10px);
     overflow: hidden;
 }

 @media screen and (max-width:700px) {

     .menu 
     {
         display: block;
     }
     .sidebar{
         display: none;
         width: 160px;
     }
     .sidebar a{
         padding: 10px 0px;
     }
     .main-content
     {
         margin-left: 0px;
         display:block;

     }

 }


.green{
    border: 1px solid seagreen;
    background: seagreen;
    margin-right: 1rem;
   color:#fff;
}
.red{
    border: 1px solid rgb(197, 38, 17);
    background: rgb(197, 38, 17);
    margin-right: 1rem;
}
.yellow{
    border: 1px solid rgb(218, 161, 4);
    background: rgb(243, 198, 0);
    margin-right: 1rem;
   color:#fff;
}
.blue{
    border: 1px solid rgb(0, 68, 255);
    background: rgb(0, 68, 255);
    margin-right: 1rem;
   color:#fff;
}
.sidebar i {
    color: white;
    padding: 2px;
    border-radius: 10%;
    padding-right: 10px;
}

.sidebar .icon {
    float: right;
    color: white;
}

.dropdow-container {
    padding-left: 10px;
    overflow-y: hidden;
    max-height: 0px;
    transition: all .15s ease;
}

.dropdow-container.show {
    max-height: 1000px;
    transition: all .15 ease;
}

ul {
    padding: 0px;
}

ul>li>a.active {
    color: #000;
}

mat-sidenav {
    width: 300px;
    background-color: #113C60;
    border-right: 1px solid black;
    transition-delay: 0ms;
    height: 100%;
}

.nav-items {
    padding-top: 40px;
}

.nav-items .nav-item {
    padding: 25px 50px;
    cursor: pointer;
}

@media only screen and (max-width: 1300px) {
    .nav-items .nav-item {
        padding: 25px 40px;
    }
}

.nav-items .nav-item.hover {
    background-color: #070666;
}

.nav-items .nav-item fa-icon {
    margin-right: 20px;
    font-size: 22px;
}

.nav-items .nav-item span {
    display: inline;
}

@media only screen and (max-width: 1300px) {
    .nav-items .nav-item span {
        display: none;
    }
}

ul {
    list-style-type: none;
}

mat-nav-list {
    padding-bottom: 50px;
    font-size: 18px;
    color: white;
    text-decoration: none;

}

.main-content {
    padding: 10px 10px 10px 10px;
    height: calc(100% - 10px);
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    mat-sidenav {
        width: 22vh;
    }
}

@media screen and (max-width:500px) {

    .menu {
        display: block;
    }

    .sidebar {
        display: none;
        width: 160px;
    }

    .sidebar a {
        padding: 10px 0px;
    }

    .main-content {
        margin-left: 0px;
    }

}

.green {
    border: 1px solid seagreen;
    background: seagreen;
    margin-right: 1rem;
    color: #fff;
}

.red {
    border: 1px solid rgb(197, 38, 17);
    background: rgb(197, 38, 17);
    margin-right: 1rem;
    color: #fff;
}

.yellow {
    border: 1px solid rgb(218, 161, 4);
    background: rgb(243, 198, 0);
    margin-right: 1rem;
    color: #fff;
}

.blue {
    border: 1px solid rgb(0, 68, 255);
    background: rgb(0, 68, 255);
    margin-right: 1rem;
    color: #fff;
}

.d-flex {
    display: inline-block;
    margin-left: auto;
    /* background: black;
    color: #fff; */
}
.text-center {
    padding: 10px;
}

@media screen and (max-width:700px) {

    .menu {
        display: block;
    }

    .sidebar {
        display: none;
        width: 155px;
    }

    .sidebar a {
        padding: 10px 0px;
        text-align: center;
    }

    .main-content {
        margin-left: 0px;
        display: block;

    }
}