
<!--navbar code-->

<mat-toolbar >
    <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle();openNav(false)">
            <mat-icon>menu</mat-icon>
        </button>
        <img src="https://sumagotraining.in/images/sumago-logo.png">
        <span class="spacer"></span>
          <div class="user-image border-white">SI</div>
         

    </mat-toolbar-row>
</mat-toolbar>



<mat-sidenav-container style="height: 100%;">
    <mat-sidenav #sidenav opened="true" mode="side" class="sidebar shadow p-2" id="sidebar" [ngStyle]="responsiveMenu" >
        <mat-nav-list>

            <div class="text-center">
                <i class="green fa fa-signal" aria-hidden="true"></i>
                <i class="red fa fa-pencil" aria-hidden="true"></i>
                <i class="yellow fa fa-archive" aria-hidden="true"></i>
                <i class="blue fa fa-cogs" aria-hidden="true"></i>
            </div>

            <ul>

                <li><a  routerLink="/main/dashboard"> <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a></li>
                <li><a routerLink="/main/contact-enquiry"> <i class="fa fa-envelope" aria-hidden="true"></i> Contact
                        Enquiries</a></li>
                <li><a routerLink="/main/career-enquiry"> <i class="fa fa-envelope" aria-hidden="true"></i> Career
                        Enquiries</a></li>
                 <li><a routerLink="/main/questions"> <i class="fa fa-user" aria-hidden="true"></i> Questions</a></li>
                 <li><a routerLink="/main/free-consultation"> <i class="fa fa-user" aria-hidden="true"></i> Free Consultations</a></li>

                 <li><a routerLink="/main/quote"> <i class="fa fa-user" aria-hidden="true"></i> GET A QUOTE</a></li>
                <li>
                    <a> <i class="fa fa-list" aria-hidden="true"></i> Achievements <i class="fa fa-caret-down"
                            aria-hidden="true"></i>
                    </a>
                    <ul class="dropdow-container">
                        <li><a routerLink="/main/add-achievements"> <i class="fa fa-plus" aria-hidden="true"></i> Add
                                Achievements</a></li>
                        <li><a routerLink="/main/view-achievements"> <i class="fa fa-info" aria-hidden="true"></i>
                                Achievement Details</a></li>
                    </ul>
                </li>
                <li>
                    <a> <i class="fa fa-list" aria-hidden="true"></i> News <i class="fa fa-caret-down"
                            aria-hidden="true"></i>
                    </a>
                    <ul class="dropdow-container">
                        <li><a routerLink="/main/add-news"> <i class="fa fa-plus" aria-hidden="true"></i> Add
                                News</a></li>
                        <li><a routerLink="/main/view-news"> <i class="fa fa-info" aria-hidden="true"></i>
                                News Details</a></li>
                    </ul>
                </li>
            
                <li>
                    <a> <i class="fa fa-list" aria-hidden="true">
                    </i> Count <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdow-container">
                        <li><a routerLink="/main/count"> <i class="fa fa-info" aria-hidden="true">    
                        </i> Count Details</a></li>
                    </ul>
                </li>
                <li>
                    <a> <i class="fa fa-list" aria-hidden="true">
                    </i> Client Logo <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdow-container">
                        <li><a routerLink="/main/add-logo"> <i class="fa fa-plus" aria-hidden="true">
                        </i> Add Client Logo</a></li>
                        <li><a routerLink="/main/client-logo"> <i class="fa fa-info" aria-hidden="true"></i>
                            View Client Logo</a></li>
                    </ul>
                </li>
                <li>
                    <a> <i class="fa fa-list" aria-hidden="true">
                    </i> Portfolio <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdow-container">
                        <li><a routerLink="/main/port-form"> <i class="fa fa-plus" aria-hidden="true">
                        </i> Add Portfolio</a></li>
                        <li><a routerLink="/main/port-det"> <i class="fa fa-info" aria-hidden="true"></i>
                            Portfolio Details</a></li>
                    </ul>
                </li>

                <li>
                    <a> <i class="fa fa-list" aria-hidden="true"></i> Achievements <i class="fa fa-caret-down"
                            aria-hidden="true"></i>
                    </a>
                    <ul class="dropdow-container">
                        <li><a routerLink="/main/add-achievements"> <i class="fa fa-plus" aria-hidden="true"></i> Add
                                Achievements</a></li>
                        <li><a routerLink="/main/view-achievements"> <i class="fa fa-info" aria-hidden="true"></i>
                                Achievement Details</a></li>
                    </ul>
                </li>

                <li>
                    <a> <i class="fa fa-list" aria-hidden="true"></i> News <i class="fa fa-caret-down"
                            aria-hidden="true"></i>
                    </a>
                    <ul class="dropdow-container">
                        <li><a routerLink="/main/add-news"> <i class="fa fa-plus" aria-hidden="true"></i> Add
                                News</a></li>
                        <li><a routerLink="/main/view-news"> <i class="fa fa-info" aria-hidden="true"></i>
                                News Details</a></li>
                    </ul>
                </li>
              
                <li>
                    <a> <i class="fa fa-list" aria-hidden="true">
                    </i> Appreciation <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdow-container">
                        <li><a routerLink="/main/add-appreciation"> <i class="fa fa-plus" aria-hidden="true">
                        </i> Add Appreciation</a></li>
                        <li><a routerLink="/main/appreciation-det"> <i class="fa fa-info" aria-hidden="true"></i>
                            Appreciation Details</a></li>
                    </ul>
                </li>
                <li>
                    <a> <i class="fa fa-list" aria-hidden="true">
                    </i> Certificate <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdow-container">
                        <li><a routerLink="/main/add-cert"> <i class="fa fa-plus" aria-hidden="true">
                        </i> Add Certificate</a></li>
                        <li><a routerLink="/main/cert-det"> <i class="fa fa-info" aria-hidden="true"></i>
                            Certificate details</a></li>
                    </ul>
                </li>
                <li>
                    <a> <i class="fa fa-list" aria-hidden="true">
                    </i> MOU<i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdow-container">
                        <li><a routerLink="/main/add-mou"> <i class="fa fa-plus" aria-hidden="true">
                        </i> Add MOU</a></li>
                        <li><a routerLink="/main/mou-det"> <i class="fa fa-info" aria-hidden="true"></i>
                            MOU  Details</a></li>
                    </ul>
                </li>
                <li>
                    <a> <i class="fa fa-list" aria-hidden="true">
                    </i> Birthday <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdow-container">
                        <li><a routerLink="/main/birthday-form"> <i class="fa fa-plus" aria-hidden="true">    
                        </i> Add Birthday</a></li>
                        
                        <li><a routerLink="/main/birthday"> <i class="fa fa-info" aria-hidden="true">    
                        </i> Birthday Details</a></li>
                    </ul>
                </li>
                <li>
                    <a> <i class="fa fa-list" aria-hidden="true">
                    </i> Event <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdow-container">
                        <li><a routerLink="/main/event-add"> <i class="fa fa-plus" aria-hidden="true">    
                        </i> Add Event</a></li>
                        
                        <li><a routerLink="/main/event-details"> <i class="fa fa-info" aria-hidden="true">    
                        </i> Event Details</a></li>
                    </ul>
                </li>
                <li>
                    <a> <i class="fa fa-list" aria-hidden="true">
                    </i> Awards <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdow-container">
                        <li><a routerLink="/main/add-awards"> <i class="fa fa-plus" aria-hidden="true">
                        </i> Add Awards</a></li>
                        <li><a routerLink="/main/award-det"> <i class="fa fa-info" aria-hidden="true"></i>
                            Award Details</a></li>
                    </ul>
                </li>

                <li>
                    <a> <i class="fa fa-list" aria-hidden="true">
                    </i> Training <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdow-container">
                        <li><a routerLink="/main/add-training"> <i class="fa fa-plus" aria-hidden="true">
                        </i> Add Training</a></li>
                        <li><a routerLink="/main/training-det"> <i class="fa fa-info" aria-hidden="true"></i>
                            Training Details</a></li>
                    </ul>
                </li>

                <li>
                    <a> <i class="fa fa-list" aria-hidden="true">
                    </i> Team <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdow-container">
                        <li><a routerLink="/main/designation-details"> <i class="fa fa-plus" aria-hidden="true">    
                        </i> Designation Details</a></li>
                        
                        <li><a routerLink="/main/development-teamdetails"> <i class="fa fa-info" aria-hidden="true">    
                        </i> Development Details</a></li>
                        <li><a routerLink="/main/team"> <i class="fa fa-info" aria-hidden="true">    
                        </i> Admin Team Details</a></li>
                        
                    </ul>
                </li>

                <li><a routerLink="/main/forgot-form"> <i class="fa fa-key" aria-hidden="true"></i> Forgot Password</a></li>
                <li><a href="#"> <i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>

            </ul>
            
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="main-content" [ngStyle]="responsiveContent">
 <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<!--correct code above trying new-->

<!--youtube demo code hover effect on side nav-->
<!-- <body>
    <nav>
        <ul>
            <li>
                <a href="#" class="logo">
                    <img src="https://sumagotraining.in/images/sumago-logo.png">
                
                </a>
            </li>
            <li><a href="#"><i class="fa fa-home"></i><span class="nav-item">Home</span></a></li>
            <li><a href="#"><i class="fa fa-envelope"></i><span class="nav-item">Task</span></a></li>
            <li><a href="#"><i class="fa fa-envelope"></i><span class="nav-item">Analytics</span></a></li>
            <li><a routerLink="/main/dashboard"> <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a>
            </li>
            <li><a routerLink="/main/contact-enquiry"> <i class="fa fa-envelope" aria-hidden="true"></i> Contact
                    Enquiries</a></li>
            <li><a routerLink="/main/career-enquiry"> <i class="fa fa-envelope" aria-hidden="true"></i> Career
                    Enquiries</a></li>
                    <li><a href="#" class="logout"><i class="fa fa-logout"></i><span class="nav-item">logout</span></a></li>     
        </ul>
    </nav>
</body> -->























<!--admindemo code-->
<!-- <div class="topnav shadow p-1">
    <span class="menu" (click)="openNav(false)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg>
    </span>
    <img src="https://sumagotraining.in/images/sumago-logo.png">
      
</div>
<div  class="sidebar shadow p-2"  id="sidebar"  [ngStyle]="responsiveMenu">
    <ul>
        <li ><a routerLink="/main/dashboard" routerLinkActive="active" ><i class="bi bi-list"></i> <b [hidden]="hideanchor == true">Dashboard</b>  </a></li>
        <li><a routerLink="/main/forgot-form"    routerLinkActive="active"><i class="bi bi-card-text"></i> <b [hidden]="hideanchor == true">Logout</b></a></li>
        <li>
            <a> <i class="fa fa-list" aria-hidden="true">
            </i> Birthday <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdow-container">
                <li><a routerLink="/main/birthday-form"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                  </svg> <b [hidden]="hideanchor == true"></b>Add Birthday</a></li>
                
                <li><a routerLink="/main/birthday"> <i class="fa fa-info" aria-hidden="true">    
                </i> Birthday Details</a></li>
            </ul>
        </li>
    

    </ul>
</div>

<div class="main-content" [ngStyle]="responsiveContent">
    <router-outlet></router-outlet>
</div> -->
