<div class="table-title">
  <div class="row">
    <div class="col-xs-6">
      <h1>Add<b> Client Logo</b></h1>
    </div>
  </div>
</div>
<!-- <div class="container mt-3">
  <form [formGroup]="fileForm">
    <div class="form-group">
      <label for="fileInput">Select an image:</label> 
      <input type="file" class="form-control-file" formControlName="fileInput" #fileInput>
    </div>
    <button class="btn btn-primary" (click)="onUpload()">Add</button>&nbsp;
    <button class="btn btn-default">Reset</button>
  </form> -->
<!-- </div> -->

<div class="card">
  <form [formGroup]="fileForm">
    <h2>Add Logo</h2>
    <div class="form-group">
      <label for="file">Select an Image</label>
      <input type="file" id="file" name="file" formControlName="fileInput" #fileInput required>
    </div>
   
    <button type="submit" (click)="onUpload()">Submit</button>

    <button type="reset">Reset</button>
  </form>
</div>

