<div class="table-title">
  <div class="row">
    <h2 class="text-primary bold">Add Logo</h2>
  </div>
</div>
<div class="card">
  <form [formGroup]="fileForm">
    <div class="form-group">
      <label for="file">Select an Image</label>
      <input type="file" id="file" name="file" formControlName="fileInput" #fileInput required>
    </div>
    <div class="form-group">
    <button type="submit" (click)="onUpload()">Submit</button>
    <button type="reset" class="btn btn-primary"><i class="fa fa-undo" aria-hidden="true"></i> Reset</button>
  </div>
  </form>
</div>

