
<div class="image-upload">
    <form (submit)="onSubmit()">
      <h2>Add Birthday</h2>
      <div class="form-group">
        <label for="file">Birthday Image</label>
        <input type="file" id="file" accept="image/*" (change)="onFileSelected($event)" required>
        <img *ngIf="imageUrl" [src]="imageUrl" alt="Uploaded Image">
      </div>
      
      <div class="button-group">
        <button type="submit"><i class = "fa fa-check" aria-hidden="true"></i>Submit</button>
        <button type="reset" (click)="onReset()"><i class = "fa fa-undo" aria-hidden="true"></i>Reset</button>
      </div>
    </form>
  </div>
  