.image-upload {
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 2rem;
      padding: 2rem;
      background-color: #fff;
      border-radius: 0.5rem;
      box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
      @media (min-width: 768px) {
        margin: 4rem;
        padding: 4rem;
      }
      h2 {
        margin-bottom: 2rem;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        @media (min-width: 768px) {
          font-size: 3rem;
          margin-bottom: 4rem;
        }
      }
      .form-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
        label {
          font-size: 1.25rem;
          font-weight: bold;
          margin-bottom: 1rem;
          @media (min-width: 768px) {
            font-size: 1.5rem;
          }
        }
        input[type="file"] {
          margin-bottom: 1rem;
        }
        img {
          max-width: 100%;
          height: auto;
        }
      }
      .button-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        margin-top: 2rem;
        button {
          background-color: #435d7d;
          color: #fff;
          padding: 0.5rem 1rem;
          border-radius: 0.25rem;
          border: none;
          cursor: pointer;
          font-size: 1.25rem;
          font-weight: lighter;
          &:hover {
            background-color: #0069d9;
          }
          &:focus {
            outline: none;
          }
          
        }
      }
    }
  }
  