
<!-- <h2 class="text-primary bold">Add Birthday </h2>
<div class="card p-3">
<div class="image-upload">
    <form (submit)="onSubmit()">
      <div class="form-group">
        <label for="file">Birthday Image</label>
        <input type="file" id="file" accept="image/*" (change)="onFileSelected($event)" required>
        <img *ngIf="imageUrl" [src]="imageUrl" alt="Uploaded Image">
      </div>
      
      <div class="button-group">
        <button type="submit"><i class = "fa fa-check" aria-hidden="true"></i>Submit</button>
        <button type="reset" (click)="onReset()"><i class = "fa fa-undo" aria-hidden="true"></i>Reset</button>
      </div>
    </form>
  </div> -->
  <h2 class="text-primary bold">Add Birthday</h2>
  <div class="card">
    <div class="image-upload">
      <form [formGroup]="fileForm">
        <div class="form-group">
          <label for="file">Birthday Image</label>
          <input type="file" id="file" accept="image/*" formControlName="fileInput"  (change)="onFileSelected($event)" #fileInput required>
          <!-- <img *ngIf="fileForm.get('fileInput')?.valid" [src]="imageUrl" alt="Uploaded Image"> -->
        </div>
        
        <div class="form-group">
          <button type="submit" (click)=" uploadBirthday()">Submit</button>
          <button type="reset" class="btn btn-primary"><i class="fa fa-undo" aria-hidden="true"></i> Reset</button>
        </div>
      </form>
    </div>
  </div>
  