<div class="text-white bg-primary">Result for "Lastest News Details"</div>
<div class="table-responsive">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-xs-6">
          <h2>News Details</h2>
        </div>
        <div class="col-xs-6">
          <a class="btn btn-success" routerLink="/main/port-form"><i class="material-icons">&#xE147;</i> <span>Add New
              Portfolio</span></a>
        </div>
      </div>
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Sr No.</th>
          <th scope="col">Action</th>
          <th scope="col">Title</th>
          <th scope="col">Newspaper</th>
          <th scope="col">Image</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let news of newss; let i=index">
          <td>{{i+1}}</td>
          <td>
            <i class="fa fa-trash" (click)="deletecontact(i)" title="Delete"></i>
          </td>
          <td>{{news.title}}</td>
          <td>{{news.newspaper}}</td>
          <td><img [src]="" alt="Image"></td>
          <td>{{news.date | date}}</td>
      </tbody>
    </table>
  </div>
</div>