.card {
    margin: 0 auto; 
    max-width: 800px; 
  }
  
  .card-header {
    background-color: #ffffff; 
    padding: 10px; 
  }
  
  .card-body {
    padding: 20px; 
  }

  .form-group .btn {
    margin-right: 10px;
  }
  
  .form-group:last-child .btn {
    margin-bottom: 10px;
  }
  