<div class="container">
  <div class="card mb-4">
    <div class="card-body">
      <h3 class="card-title">Contact Details</h3>

      <!-- Mobile Number Group -->
      <form (ngSubmit)="addContactDetails()">
        <div class="mb-3" *ngFor="let mobileNumber of mobileNumbers; let i = index">
          <div class="d-flex align-items-center">
            <label for="mobileNumber_{{ i }}">Mobile Number {{ i + 1 }}:</label>
            <input type="text" class="form-control" id="mobileNumber_{{ i }}" [(ngModel)]="mobileNumber[i + 1]" name="mobileNumber_{{ i }}">
            <button type="button" class="btn btn-danger ml-2" (click)="removeMobileNumber(i)">Remove</button>
          </div>
        </div>
        <button type="button" class="btn btn-primary" (click)="addNewMobileNumber()">Add New Mobile Number</button>
      </form>

      <!-- Email ID Group -->
      <form (ngSubmit)="addContactDetails()">
        <div class="mb-3" *ngFor="let emailId of emailIds; let i = index">
          <div class="d-flex align-items-center">
            <label for="emailId_{{ i }}">Email Id {{ i + 1 }}:</label>
            <input type="text" class="form-control" id="emailId_{{ i }}" [(ngModel)]="emailId[i + 1]" name="emailId_{{ i }}">
            <button type="button" class="btn btn-danger ml-2" (click)="removeEmailId(i)">Remove</button>
          </div>
        </div>
        <button type="button" class="btn btn-primary" (click)="addNewEmailId()">Add New Email ID</button>
      </form>

      <!-- Address Group -->
      <form (ngSubmit)="addContactDetails()">
        <div class="mb-3" *ngFor="let address of addresses; let i = index">
          <div class="d-flex align-items-center">
            <label for="address_{{ i }}">Address {{ i + 1 }}:</label>
            <input type="text" class="form-control" id="address_{{ i }}" [(ngModel)]="address[i + 1]" name="address_{{ i }}">
            <button type="button" class="btn btn-danger ml-2" (click)="removeAddress(i)">Remove</button>
          </div>
        </div>
        <button type="button" class="btn btn-primary" (click)="addNewAddress()">Add New Address</button>
      </form>

      <button type="submit" class="btn btn-success mt-3" (click)="addContactDetails()">Submit</button>
    </div>
  </div>
</div>
