<div class="text-white bg-primary">Result for lastest "Career Enquiries"</div>

<div class="table-responsive">
    <!-- <div class="table-wrapper" style="width:1300px"> -->
        <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-xs-6 ">

                    <h2>Career Enquiries</h2>
                </div>
                <div class="col-xs-6 ">
                    <a class="btn btn-success" routerLink="/main/port-form"><i class="material-icons">&#xE147;</i>
                        <span>Add New Portfolio</span></a>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Sr No.</th>
                    <th scope="col">Action</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mobile No</th>
                    <th scope="col">Technology Choice</th>
                    <th scope="col">Position</th>
                    <th scope="col">Curriculum Vitae</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Cover Letter</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let enq of career; let i=index">
                    <td>{{i+1}}</td>
                    <td>
                        <i class="fa fa-trash" (click)="deleteEnquiry(i)" title="Delete"></i>
                    </td>
                    <td>{{enq.name}}</td>
                    <td>{{enq.email}}</td>
                    <td>{{enq.mobno}}</td>
                    <td>{{enq.technology}}</td>
                    <td>{{enq.position}}</td>
                    <td><img [src]="" alt=" Image"></td>
                    <td>{{enq.duration}}</td>
                    <td>{{enq.letter}}</td>
                    <td>{{enq.date | date}}</td>
                </tr>
            </tbody>