<div class="text-white bg-primary">Result for lastest "Questions For User"</div>
<!-- <div class="container"> -->
    <div class="table-responsive">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row">
              <div class="col-xs-6">
                <h2>Questions from User</h2>
              </div>
              <!-- <div class="col-xs-6">
                <a  class="btn btn-success" routerLink="/main/add-training"><i class="material-icons">&#xE147;</i> <span>Add Training</span></a>
              </div> -->
            </div>
          </div>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Sr No</th>
                <th>Action</th>
                <th>Name</th>
                <th>Email</th>
                <th>Questions</th>
                <th>Date</th>
                
              </tr>
            </thead>
            <!-- <tbody>
              <tr>
                <td>1</td>
                <td><a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a></td>
                <td>Mohak Sharma</td>
                <td>m@gmail.com</td>
                <td>Apply for job</td>
                <td> 12 April 2023</td>
                
              </tr>
            </tbody> -->

            <tbody>
              <tr *ngFor="let question of questions; let i=index">
                <td>{{i+1}}</td>
                <td>
                  <i class="fa fa-trash" (click)="deleteQuestion(question.id)" title="Delete"></i>
                </td>
      
                <td>{{question.name}}</td>
                <td>{{question.email}}</td>
                <td>{{question.question}}</td>
                <td>{{question.created_at | date}}</td>
            </tbody>
          </table>
        </div>
      </div>        
      <!-- </div> -->





