<div class="login-container">
    <form class="login-form"  [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
      <h2 class="login-header">Welcome back!</h2>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" formControlName="email" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" formControlName="password" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>