<!-- <h2 class="text-primary bold">Forgot Password</h2>

<div class="container" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
  
    <p>Please enter your email address below to reset your password.</p>
    <form>
        <label for="password">Enter new password:</label>
        <input type="password" id="password" formControlName="password" required>
        <input type="submit" value="Reset Password">
    </form>
</div> -->

<h2 class="text-primary bold">Forgot Password</h2>
<div class="card p-3">
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <form>
        <br> <p class="msg bold">Please enter your email address below to reset your password.</p>
        <br>
        <label for="password">Enter new password:</label>
        <input type="password" id="password" formControlName="password" required><br>

        <label for="password">Confirm  new password:</label>
        <input type="password" id="password" formControlName="password" required>

        <!-- <input type="submit" value="Reset Password"> -->
    </form>
    <div class="form-group">
      <button type="submit" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i> Reset Password</button>
      <!-- <button type="button" class="btn btn-primary" (click)="onReset()"><i class="fa fa-undo" aria-hidden="true"></i> Reset Password</button> -->
    </div>
  </form>
</div>  
