body {
    color: #566787;
    background: #f5f5f5;
    font-family: 'Varela Round', sans-serif;
    font-size: 13px;
}
.table-responsive {
     margin: 30px 0; 
     border: 1px solid #435d7d ;

}
.table-wrapper {
    min-width: 1000px;
    background: #fff;
    padding: 20px 25px;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {        
    padding-bottom: 15px;
    background: #435d7d;
    color: #fff;
    padding: 16px 30px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}
.table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
}
.table-title .btn-group {
  float: right;
}
.table-toolbar{
  padding: 10px;
}
svg{
  padding: 1px;
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

table {
    width: 100%;
    border-collapse: collapse;
  
      th, td {
        padding: 10px;
        border: 1px solid #ccc;
        text-align: center;
      }
  
      th {
        background-color: #f5f5f5;
        font-weight: bold;
      }
  
      td:first-child {
        font-weight: bold;
      }
  
      button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        margin: 0 5px;
  
        i {
          margin-right: 5px;
        }
      }
  
      .fa-trash-o {
        color: red;
      }
  
      .fa-edit {
        color: green;
      }
      .fa {
        position: relative;
        z-index: 2;
        cursor: pointer;
      }
      
    }
  