<div class="table-title">
  <div class="row">
    <div class="col-xs-6">
      <h1>Client Logo<b> Details</b></h1>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4" *ngFor="let image of images">
      <div class="card mb-4 box-shadow">
        <b>{{image.id}}</b>
          <div class="card-body">
          <img [src]="imageURL" alt="Image"> &nbsp;
          <button class="btn btn-danger" (click)="onDelete(image.id)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
