<div class="card p-3">
  <h2 class="text-primary font-weight-bold">Update Portfolio</h2>
  <form [formGroup]="PortfolioForm" (ngSubmit)="onSubmit()" class="row">
    <div class="col-lg-6 col-md-12">
      <!-- Left column with two fields -->
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" formControlName="title" name="title" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="description">Portfolio Description</label>
        <textarea id="description" formControlName="description" name="description" rows="4" class="form-control" required></textarea>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <!-- Right column with two fields -->
      <div class="form-group">
        <label for="file">Choose a file</label>
        <input type="file" id="file" formControlName="image_file" (change)="onFileSelected($event)" name="file" class="form-control-file" required>
      </div>
      <div class="form-group">
        <label for="website">Website Link</label>
        <input type="url" id="website" formControlName="websitelink" name="website" class="form-control" required>
      </div>
    </div>
    <div class="col-12 text-center mt-3">
      <!-- Full-width column for the submit button -->
      <button type="submit" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i> Update</button>
    </div>
  </form>
</div>
