<div class="text-white bg-primary">Result for "Lastest Portfolio Details"</div>
<div class="table-responsive">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-xs-6">
          <h2>Portfolio Details</h2>
        </div>
        <div class="col-xs-6">
          <a class="btn btn-success" routerLink="/main/add-news"><i class="material-icons">&#xE147;</i> <span>Add New
              Portfolio</span></a>
        </div>
        <div class="search-container">
          <input type="text" [(ngModel)]="searchTerm" (input)="onSearch()" placeholder="Search...">
        </div>
      </div>
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Sr No.</th>
          <th scope="col">Action</th>
          <th scope="col">Title</th>
          <th scope="col">WebStatus</th>
          <th scope="col">Portfolio</th>
          <th scope="col">WebLink</th>
          <th  scope="col">Image</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
      <tbody  *ngFor="let port of filtered ; let i=index">

        <tr>
          <td>{{i+1}}</td>
          <td>
            <i class="fa fa-trash" (click)="deletePortfolio(port.id)" title="Delete"></i>&nbsp;
            <i class="fa fa-edit" (click)="editPortfolio(port.id)" title="Edit"></i>
           </td>
          <td>{{port.title}}</td>
          <td>{{port.website_status}}</td>
          <td>{{port.description}}</td>
          <td>{{port.website_link}}</td>
          <td><img [src]="image" style="width: 200px;"></td>
          <td>{{port.created_at | date}}</td>
          </tr>
      </tbody>
    </table>
  </div>
</div> 
<!-- <table class="table table-striped table-hover" matSort (matSortChange)="sortedData($event)">
      <thead class="thead-light">
        <tr>
          <th mat-sort-header="Sr">Sr.NO</th>
          <th>Action</th>
          <th mat-sort-header="StatusAction">Status Action</th>
          <th mat-sort-header="Title">Title</th>
          <th mat-sort-header="WebStatus">WebSite Status</th>
          <th mat-sort-header="Portfolio">Portfolio</th>
          <th mat-sort-header="WebLink">website Link</th>
          <th mat-sort-header="Date">Date</th>
        </tr>
      </thead>
       <tbody>
        <tr *ngFor="let port of sortData">
          <td>{{port.Sr}}</td>
          <td>
            <i class="fa fa-trash" (click)="deletecontact(i)" title="Delete"></i>
          </td>
          <td>{{port.StatusAction}}</td>
          <td>{{ port.Title}}</td>
          <td>{{ port.WebsiteStatus}}</td>
          <td><img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLYtLDlvHW2qWZR_qy8PmZ_rz-TPcVUGidsLRfe_Ck&s"
              alt="imagedemo"></td>
          <td>{{port.WebsiteLink}}</td>
          <td>{{port.Date}}</td>
        </tr>
     </tbody>  -->
