<div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-xs-6">
            <h2>Birthday Details</h2>
          </div>
        
        </div>
      </div>
      <table class="table table-striped table-hover">
        <thead>
    <!-- <table>
      <thead> -->
        <tr>
          
          <th>Sr No</th>
          <th>Action</th>
          <th>File: img</th>
          <th>Birthday Image</th>
          <th>Date</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let birthday of birthdays; let i = index">
          
          <!-- <td>{{ birthday.serialNumber }}</td> -->
          <td>{{ i + 1 }}</td>
          <td>
            <i class="fa fa-trash-o"  (click)="onDelete(i)" title="Delete"></i>
          </td>
          <td>
            <img [src]="birthday.image" alt="Birthday Image">
          </td>
          <td>{{ birthday.birthdayImage }}</td>
          <td>{{ birthday.date }}</td>
        </tr>
      </tbody>
    </table>

  