<div class="text-white bg-primary">Result for lastest "Contact Enquiries"</div>
<ng-template #emptyTable empty-table>
  <div class="empty-message">No Records found.</div>
</ng-template>
<div class="table-responsive">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-xs-6">
          <h2>Contact Enquiries</h2>
        </div>&nbsp;
        <button class="excel btn btn-success" (click)="exportToExcel()">Export to Excel</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2">
        <div class="search-container">
          <input type="text" [(ngModel)]="searchTerm" (input)="onSearch()" placeholder="Search..."> 
      </div> 
    </div>     
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th scope="col">Sr No.</th>
          <th scope="col">Action</th>
          <th scope="col">Name</th>
          <th scope="col">Mobile No</th>
          <th scope="col">Email</th>
          <th scope="col">Message</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody *ngIf="contacts.length > 0; else emptyTable">

        <tr *ngFor="let contact of filtered; let i=index">
          <td>{{i+1}}</td>
          <td>
            <i class="fa fa-trash" (click)="deleteContactEnquiry(contact.id)" title="Delete"></i>
          </td>
          <td>{{contact.name}}</td>
          <td>{{contact.mobile_no}}</td>
          <td>{{contact.email}}</td>
          <td>{{contact.messege}}</td>
          <td>{{contact.created_at | date}}</td>
      </tbody>
    </table>
  </div>
</div>