      
<div class="text-white bg-primary">Result for "Lastest Tranee Development Team Details"</div>
<div class="table-responsive">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-xs-6">
          <h2>Trainee Team Details</h2>
        </div>
        <div class="col-xs-6">
          <a class="btn btn-success" routerLink="/main/add-trainee-details"><i class="material-icons">&#xE147;</i>
            <span>Add Trainee Team Details </span></a>
        </div>
      </div>
      <div class="search-container">
        <input type="text" [(ngModel)]="searchTerm" (input)="onSearch()" placeholder="Search...">
      </div>
    </div>

      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Sr No</th>
            <th>Action</th>
            <th>Name</th>
            <th>Photo</th>
            <th>Designation</th>
            <th>Qulification</th>
            <th>Experience</th>
            <th>Status</th>
            <th>Date</th>
            
          </tr>
        </thead>
       

        <tbody>
          <tr *ngFor="let trainee of filtered; let i=index">
            <td>{{i+1}}</td>
            <td>
              <i class="fa fa-trash" (click)="deleteTrainee(trainee.id)" title="Delete"></i>
            </td>
            <td>{{trainee.name}}</td>
            <td><img [src]="trainee.photo" alt="Image" style="width: 80px;"></td>
            <td>{{ trainee.designation_id}}</td>
            <td>{{ trainee.qualification}}</td>
            <td>{{ trainee.experience}}</td>
            <td>{{ trainee.status}}</td>
            <td>{{ trainee.created_at|date }}</td>
        </tbody>
      </table>
    </div>
  </div>        