<h2 class="text-primary"><strong>Dashboard</strong></h2>
<div class="widget-container">
    <div class="widget green">
        <div class="icon">
            <i class="fa fa-phone-square" aria-hidden="true"></i>
        </div>
        <div class="value">
            <div class="top">1767</div>  
            <div class="bottom">Contact Enquiries</div>
        </div>
    </div>  

    <div class="widget red">
        <div class="icon">
            <i class="fa fa-comments-o" aria-hidden="true"></i>
        </div>
        <div class="value">
            <div class="top">2281</div>
            <div class="bottom">Career Enquiries</div>
        </div>
    </div>

    <div class="widget yellow">
        <div class="icon">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
        </div>
        <div class="value">
            <div class="top">352</div>
            <div class="bottom">Portfolio</div>
        </div>
    </div>

    <div class="widget blue">
        <div class="icon">
            <i class="fa fa-trophy" aria-hidden="true"></i>
        </div>
        <div class="value">
            <div class="top">423</div>
            <div class="bottom">Achivements</div>
        </div>
    </div>
</div>

<div class="widget-container">
    <div class="widget green">
        <div class="icon">
            <i class="fa fa-file-text" aria-hidden="true"></i>
        </div>
        <div class="value">
            <div class="top">95</div>
            <div class="bottom">News Details</div>
        </div>
    </div>

    <div class="widget red">
        <div class="icon">
            <i class="fa fa-certificate" aria-hidden="true"></i>
        </div>
        <div class="value">
            <div class="top">678</div>
            <div class="bottom">Certificates</div>
        </div>
    </div>

    <div class="widget yellow">
        <div class="icon">
            <i class="fa fa-folder-open" aria-hidden="true"></i>
        </div>
        <div class="value">
            <div class="top">57</div>
            <div class="bottom">MOU Work</div>
        </div>
    </div>

    <div class="widget blue">
        <div class="icon">
            <i class="fa fa-users" aria-hidden="true"></i>
        </div>
        <div class="value">
            <div class="top">884</div>
            <div class="bottom">Client Logo</div>
        </div>
    </div>
</div>