<h2 class="text-primary bold ">Add News</h2>
<div class="card p-3">
    <form>
        <div class="form-group "><span>
                <label for="title">Title: </label>
                <input type="text" id="title" name="title" required></span>
        </div>
        <div class="form-group "><span>
            <label for="title">Newspaper: </label>
            <input type="text" id="title" name="title" required></span>
    </div>
    <div class="form-group"><span>
        <label for="file">News: </label>
        <input type="file" id="file" name="file" required></span>
    </div>
        <div class="form-group"><span>
            <label for="file">News(Modal): </label>
            <input type="file" id="file" name="file" required></span>
        </div>
        <span>
            <button class="btn btn-primary submit"><i class="fa fa-check " aria-hidden="true"></i> Submit</button>
            <button class="btn btn-primary submit"><i class="fa fa-undo" aria-hidden="true"></i> Reset</button>
        </span>
    </form>
</div>