<div class="text-white bg-primary">Result for lastest "Free Consulations Details"</div>
<div class="table-responsive">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-xs-6">
          <h2>Free Consulations</h2>
        </div>
        <button class="excel btn btn-success" (click)="exportToExcel()">Export to Excel</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="search-container">
          <input type="text" [(ngModel)]="searchTerm" (input)="onSearch()" placeholder="Search...">
        </div>
      </div>
    </div>
      <table class="table table-striped table-hover">
        <thead>
      <tr>
        <th>Sr.No</th>
        <th>Action</th>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile Number</th>
        <th>Topic</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of filtered; let i = index">
        <td>{{ i + 1 }}</td>
        <td>
           <i class="fa fa-trash" (click)="deleteConsultation(data.id)"></i>

        </td>
        <td>{{ data.name }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.mobile_no }}</td>
        <td>{{ data.topic }}</td>
        <td>{{ data.created_at | date }}</td>
      </tr>
    </tbody>
  </table>
  